.header {
    min-height:71px;
}
@media only screen and (min-width : 769px) {
    .header {
        min-height: 71px;
    }
}
@media only screen and (min-width : 1024px) {
    .header {
        min-height: 69px;
    }
}